<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.fxreport.daily-calibrate</string>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-i</string>
    <string>/bin/bash</string>
    <string>__REPO_ROOT__/scripts/daily_calibrate.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TZ</key>
    <string>Asia/Shanghai</string>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>MODE</key>
    <string>product</string>
    <key>AUTO_GIT</key>
    <string>1</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/output/daily_calib_launchd.out</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/output/daily_calib_launchd.err</string>
  <key>RunAtLoad</key>
  <false/>
  <key>Nice</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
